/* thead {
  display: table-row-group;
 
} */
    /* * {
      display: none;
    }
    body {
        background-color: lightgreen;
    }
    #table {
      display: block;
      font-size: 24pt;
    }
    header nav, footer {
    display: none;
    }
    thead {
    display: table-row-group;
    font-size: 30pt;
    }
*/

@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
  #print_frame{
    display: none;
  }
  /* header nav, footer {
    display: none;
    } */
    /* .editPage {
      display: inline;
    }
    .printableTable {
      font-size: 10pt;
      visibility: visible;
  } */
     /* {
        display: none;
      }
      body {
          background-color: lightgreen;
      }
      #table {
        display: block;
        font-size: 24pt;
      }
      
      thead {
      display: table-row-group;
      font-size: 30pt;
      } */
  }